footer {
    background-image: 
    linear-gradient(90deg, rgba(249,166,24,0.7) 3%, rgba(242,116,33,0.7) 63%, rgba(235,102,33,0.6979166666666667) 94%),
    url(/images/slider-image/Civil-and-MEP-0004.jpg);
    /* url('../images/footer_new.png'); */
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    color: white;
}

.footer-info {
    padding: 60px;
}
.footer-section-1 p {
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 2px;
}

.footer-section-4 {
    font-size: 14px;
    padding: 5px 70px;   
}

.footer-logo img{
    height: 100px;
    width: 100px;
}

footer ul{
    padding-left: 0;
}
footer ul li {
    list-style: none;
    margin-left: 0px;
}
footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: none;
}

footer h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.footer-main{
    border-top:1px solid white;
    padding-top:20px;
}
