.facebook {
    color: #3b5998;
}
.twitter{
    color: #00acee;   
}
.linkedin{
    color: #0e76a8;
}
/* .header{
    background: url('/images/slider-image/HEADER-01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
.instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-midia-icons {
    font-size: 30px;
}

.brand-icon{
    padding: 0px 0px 0px 0px;
}

.brand-icon img {
    width: 150px;
    height: 150px;
}

.brand-name{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 50px;
    font-weight: bold;
}
.contact-information{
    padding-right:85px;
}
.contact-information div{
    padding-right: 30px;
}
.phone div,.email div {
    height: 30px;
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
    background: black;
    color: white;
}
.fa-envelope{
    margin-left: 8px;
    margin-top: 6px;
    font-size: 15px;
}
.fa-phone{
    margin-left: 10px;
    margin-top: 7px;
    font-size: 16px;
}
.phone{

}
.email{

}
.contact-us-button{

}