.navbar-brand{
    padding-left: 50px;
}
.search-box{
    padding-right: 69px;
}

.custom-style-navbar{
    background: rgb(249,166,24);
    background: linear-gradient(90deg, rgba(249,166,24,1) 3%, rgba(242,116,33,1) 63%, rgba(235,102,33,1) 94%);
}


ul li{
    list-style: none;
    
}

ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

.have-submanu{
    position: relative;
    
}
.submanu-head{
    display: block;
}
.sub-manue a:hover{
    text-decoration: none;
    
}
.sub-manue{
    position: absolute;
    background: rgb(249,166,24);
    background: linear-gradient(90deg, rgba(249,166,24,1) 3%, rgba(242,116,33,1) 63%, rgba(235,102,33,1) 94%);
    padding: 0px 0px 0px 25px;
    width: 180px;
    top: 35px;
    left: -18px;
    display: none;
}
.have-submanu:hover .sub-manue {
    display: block;
}
.sub-manue-item{}
