.slider{
    position: relative;
}
.slider-images{
    position: relative;
}
.slider-images img{
    width: 100%;
    position: absolute;
}
.next-previous-buttons{
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 535px;
    color: cornsilk;
}
.next-previous-buttons div{
    width: 20%;
    font-size: 50px;
    color: black;
    cursor:pointer
}
.previous-button{}
.next-button{}

.previous-button{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+1,0+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.next-button{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+1,0+100 */
    background: -moz-linear-gradient(right,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.show {
    animation-name: fadein;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.dontShow {
    animation-name: fadeout;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.off {
    display: none;
    opacity: 0;

}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }
    to {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        display: block;
    }to {
        opacity: 0;
        display: none;
    }
}