@import 'header.css';
@import 'navbar.css';
@import 'slider.css';
@import 'footer.css';
@import 'service.css';
/* @import 'navbar2.css'; */

/*--------------------------- start section 1 -------------------------*/
.section-1{
    /* background-image: url(/images/manpower_supply_bg_1.jpg); */
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
/* #F9A618
#F57921
#EB6621 */

.section-1-contnet {
    width: 60%;
    height: 100%;
    float: left;
    padding: 80px 96px 34px 108px;
}
.section-1-contnet h1{
    color: darkblue;
    font-weight: bold ;
}

.section-1-contnet .list{
    color: gray;
}

.section-1-image {
    width: 40%;
    height: 100%;
    float: right;
}
.section-1-image img {
    height: 100%;
    width: 100%;
}

/*--------------------------- end section 1 -------------------------*/

/*--------------------------- start section 2 -------------------------*/

.section-2 {

    background-image: 
    linear-gradient(90deg, rgba(249,166,24,0.9) 3%, rgba(242,116,33,0.9) 63%, rgba(235,102,33,0.9) 94%),
    url('/images/cctv-02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-2 .boxes {
    width: 95%;
    height: 90%;
}


.boxes .box {
    color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
    height: 90%;
    width: 95%;
    justify-self: center;
    align-self: center;
}
.box p {
    line-height: 1.4;
}
.box h1 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.box .logo {
    margin-top: 10px;
}

/*--------------------------- end section 2 -------------------------*/

/*--------------------------- start section 3 -------------------------*/

.section-3 {
    width: 100%;
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-image-1{}
.service-image-2{}
.service-image-3{}

.service-image-1,.service-image-2,.service-image-3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image-1 img,.service-image-2 img,.service-image-3 img{
    height: 294px;
    width: 360px;
}

.service-content{
    text-align: center;
    width: 360px;
    margin-left: auto;
}

.service-content h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
    color: #1e1e1e;
}

.service-content p {
    color: #706e6e;
    font-size: 15px;
}

.section-3 h1 {
    font-size: 39px;
    font-weight: 700;
    text-transform: none;
    color: #0e1d61;
}
/*--------------------------- end section 3 -------------------------*/

/*--------------------------- start section 4 -------------------------*/

.section-4 {
    background-image: 
    linear-gradient(90deg, rgba(249,166,24,0.9) 3%, rgba(242,116,33,0.9) 63%, rgba(235,102,33,0.9) 94%),
    url(/images/section/section4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding:0px 80px;
}
.section-4-content {
    display: flex;
    justify-content: center;
    align-self: center;
}

.border-right{
    border-right: 1px solid white;
    padding-right: 20px;
    font-size: 52px;
}
.border-left {
    padding-left: 20px;
    font-size: 27px;
    display: flex;
    justify-self: center;
    align-self: center;
}
/*--------------------------- end section 4 -------------------------*/

.section-5{
    /* background-image: 
    linear-gradient(90deg, rgba(249,166,24,0.0984768907563025) 3%, rgba(242,116,33,0.0984768907563025) 63%, rgba(235,102,33,0.10127801120448177) 94%),
    url(/images/Manpower-Supply._3.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    padding: 60px 0px 30px;
}

.section-5-content{
    padding: 50px 100px;
}

.section-5-content h2{
    font-size: 39px;
    font-weight: 700;
    text-transform: none;
    color: #0e1d61;
}

.section-5-content p{
    font-size: 15px;
    color: #858585;
}



.section-6{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(249,166,24);
    background: linear-gradient(90deg, rgba(249,166,24,1) 3%, rgba(242,116,33,1) 63%, rgba(235,102,33,1) 94%);
    color: white;
}
.section-6-button {
    padding: 5px 15px 5px 15px; 
    border-radius: 25px 25px 25px 25px;
    color: #1699be;
    background-color: white;
    border-color: #ccc;
    border: none;
}

