.about-us{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 90px;
    padding-bottom: 135px;
    font-size: 25px;
    font-weight: 100;
    font-size: 15px;
    color:#5e5a5a;
}

.about-us h1 {
    font-weight: 100;
    margin-left: -62rem;
    font-size: 30px;
    border-bottom: 1px solid black;
    color: black;
}

.aboutus-second-ul{
    margin-left: -53rem;
}

.about-us-contuctSection {
    width: auto;
    background: rgb(249,166,24);
    background: linear-gradient(90deg, rgba(249,166,24,1) 3%, rgba(242,116,33,1) 63%, rgba(235,102,33,1) 94%);
}

.about-us-image-1{
    display: flex;
}
.about-us-serviceSection{

}