.contact-us {
    height: auto;
    padding-top: 90px;
    padding-bottom: 135px;
    font-size: 25px;
    font-weight: 100;
}

.contact-us h1,.contact-us h2{
    font-weight: 100;
}

.contactLabel {
    font-weight: bolder;

}

.contact-us-form{
    font-size: 20px;
    padding-top: 90px;
    padding-bottom: 30px;
}
