.main-footer{
    background-image:
    linear-gradient(90deg, rgba(249,166,24,0.7) 3%, rgba(242,116,33,0.7) 63%, rgba(235,102,33,0.6979166666666667) 94%),
    url('/Images/footer/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 300px; */
    border-top: none;
    color: white;
    font-weight: 100;
    padding-top: 20px;
    margin-top: 50px;
}
.main-footer h2{
    font-weight: 100;

}


.main-footer a{
    color: white;
}

.main-footer ul li {
    list-style: none;
    
}

.main-footer ul {
    margin-left: 0px;
    padding-left: 0px;
}


.incon{

}
.areas-of-expertise{

}
.footer-contact-us{

}
.footer-info{
    margin-top: 10px;
    border-top: 1px solid white;
}