.header{
    background-color: white;
    width:100%;
    height: 150px;
}

.social-midia-icons {
    text-align: right;
    font-size: 25px;
}

.contact-info-header{
    text-align: right;
}

.contact-info-header p,.number {
    font-size: 24px;
    font-weight: 100;
}

.phone-icon,.email-icon{
    float: right;
    margin-left: 10px;
    padding: 5px 10px;
    color: white;
    background: black;
    border-radius: 10%;
}
/* .email-icon{

} */

.social-midia{
    color: black;
}


