.manpower-supply-services {
    
}
.manpower-supply-services-section {
    margin: 50px;   
    text-align: justify;
    color: #777676;
}
.manpower-supply-services-section b,.manpower-supply-services-section h2 {
    color: chocolate;
    text-align: left;
    border-bottom: chocolate 1px solid;
    font-weight: bolder;

}


.manpower-supply-services-section b {
    padding-bottom: 2px;
}

.manpower-supply-services-section h2 {
    padding: 20px;
}




.manpower-supply-services-section img{
    height: 100%;
    width: 100%;
    padding: 20px;
}
.manpower-supply-services-section-1{}
.manpower-supply-services-section-2{}
.manpower-supply-services-section-3{}
.manpower-supply-services-section-4{}
.manpower-supply-services-section-5{}
.manpower-supply-services-section-6{}
.manpower-supply-services-section-7{}
.manpower-supply-services-section-8{}
.manpower-supply-services-section-9{}
.manpower-supply-services-section-10{}
.manpower-supply-services-section-11{}