.section-5-content h2{
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}

.section-5-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 0px 0px 0px 97px;
}

.section-5-content p{
    color: rgba(128, 128, 128, 0.966);
}